{
  "secretKey"   : "<%= secretKey %>",
  "siteName"   : "<%= siteName %>",
  "firebase"   : "<%= firebase %>",
  "embedly"    : "your-embedly-key",
  "server"     : "your-server-address",
  "custom"     : true
}
